[Unit]
Description=DeepZZZ K2 Edge Web Service
After=network-online.target local-fs.target
Wants=network-online.target
Conflicts=camera-hls.service camera-web.service

[Service]
Type=simple
User=z
Group=z
WorkingDirectory=/home/z/deepzzz_k2_edge
Environment=HOST=0.0.0.0
Environment=PORT=7860
Environment=ENABLE_POSE=1
Environment=POSE_PROVIDER=CPUExecutionProvider
Environment=ANALYSIS_WIDTH=320
Environment=ANALYSIS_FPS=1
Environment=VIDEO_DECODER=h264_stcodec
Environment=AUDIO_DEVICE=plughw:0,0
Environment=AUDIO_RATE=16000
ExecStart=/usr/bin/python3 /home/z/deepzzz_k2_edge/app.py
Restart=always
RestartSec=3
StandardOutput=append:/home/z/deepzzz_k2_edge/runtime/logs/app.out.log
StandardError=append:/home/z/deepzzz_k2_edge/runtime/logs/app.err.log

[Install]
WantedBy=multi-user.target
